<div class="container pt-5">
  <table class="table table-striped">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Category</th>
      <th>Description</th>
      <th>Price</th>
    </thead>
    <tbody>
      <tr
        *ngFor="let product of productList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ product.name }}</td>
        <td>
          {{ product.category_id }}
        </td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="true" [collectionSize]="productList.length">
  </ngb-pagination>
</div>
