<div class="col-1">
  <select [(ngModel)]="pageSize" class="col-6 custom-select my-3">
    <option>5</option>
    <option selected>10</option>
    <option>15</option>
    <option>20</option>
    <option>{{ productList.length }}</option>
  </select>
</div>
<table class="table table-striped">
  <thead>
    <th>#</th>
    <th>Name</th>
    <th>Image</th>
    <th>Category</th>
    <th>Description</th>
    <th>Price</th>
    <td>Action</td>
  </thead>
  <tbody>
    <tr
      *ngFor="let product of productList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize | filter:keyword; let i = index">
      <td>{{ i+1 }}</td>
      <td>{{ product.name }}</td>
      <td><img src="https://picsum.photos/300/200?random={{ product.id }}" alt="" srcset=""></td>
      <td>
        {{ product.category_id }}
      </td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button class="btn btn-warning btn-sm">Edit</button> |
        <button class="btn btn-sm btn-danger" (click)="deleteProduct(i)"
          onclick="return confirm('want to delete?')">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<ngb-pagination [(page)]="page" [pageSize]="pageSize" [maxSize]="3" [rotate]="true"
  [collectionSize]="productList.length">
</ngb-pagination>
